@use "../../../styles/variables" as *;

.wrapper {
  cursor: pointer;
  border: none;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;


  &-primary {
    background-color: $color-blue;
    padding: 10px;
    margin: 10px;
    color: $color-white;

    &:hover {
      background-color: $color-light-blue;
    }

    &:active {
      background-color: $color-dark-blue;
    }

    &:disabled{
      background-color: $color-blue;
    }
  }

  &-icon{
    padding: 5px 5px;
    background-color: inherit;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

    &:hover {
      background-color: $color-light-gray;
    }

    &:active {
      background-color: $color-gray;
    }

  }


  &:focus {
    outline: none;
  }

  &:disabled{
    cursor: not-allowed;
  }
}