$color-blue: #315BFF;
$color-light-blue: #466CFF;
$color-dark-blue: #0035A0;
$color-white: #FFFFFF;
$color-black: #000000;
$color-light-gray: #BDBCC1;
$color-gray: #A2A1A6;

$font-base: 14px;
$font-lg: 16px;
$font-xlg: 18px;

$font-family: "Nunito", sans-serif;


$text-color: $color-black;
$text-light-color: $color-light-gray;

$button-color: $color-blue;
$border-color: $color-light-gray;
$border-radius: 5px;

$lg-screen: 992px;
$md-screen: 768px;
$sm-screen: 480px;